<div class="common_icon_button box--small_border box--relative {{class}}" title="{{unitName}}">

    {{#if unitName}}
    <button id="button{{id}}" class="bind_buttons_button box--bg_tertiary box--opacity_hover button--reset_styles">

        <img class="bind_buttons_button__img" src={{unitImgUrl}} alt="Image {{unitName}}">

        {{> ./areaForText.handlebars text=id}}
    </button>
    {{else}}
    <button id="button{{id}}"
        class="bind_buttons_button row--center box--bg_tertiary box--opacity_hover button--reset_styles">
        <h1 class="bind_buttons_button__text--big font--family_primary font--color_primary">{{id}}</h1>
    </button>
    {{/if}}

    {{#if canRemove}}
    {{#if unitName}}
    <button id="buttonRemoveUnitFrom{{id}}" class="bind_buttons_clear_bind_button button--reset_styles">
        <img src="https://static.wikia.nocookie.net/wowpedia/images/4/4f/BTNCancel-Reforged.png/revision/latest/scale-to-width-down/64?cb=202104170608295h"
            class="bind_buttons_clear_bind_button__img" alt="Image remove unit">
    </button>
    {{/if}}
    {{/if}}
</div>