<button id={{id}} class="button_unit common_icon_button button button--reset_styles box--small_border {{class}}"
    title="{{unitName}}">
    <img class="button_unit__img" src={{unitImgUrl}} alt="Image unit {{unitName}}">
</button>